@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lora:ital,wght@1,400;1,500&family=Montserrat:ital@0;1&family=Raleway:ital,wght@1,500&family=Roboto:ital,wght@1,300;1,400&display=swap");

* {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--lato);
  }
  :root {
    --lato: "Lato", sans-serif;
    --lora: "Lora", serif;
    --monester: "Montserrat", sans-serif;
    --real: "Raleway", sans-serif;
    --roboto: "Roboto", sans-serif;
  }
  img {
    width: 100%;
    height: 100%;
    display: block;
    }
    body{
        line-height: 1.5;
    }
    .container{
        max-width: 90%;
     margin: 0 auto;
    }
    .header{
        width: 100%;
        height: 100vh;
      background-image: url(/img/blog-bg.jpg);
      background-size: 100% 100%;
    }
    .navigation{
        width: 100%px;
    height: 10vh;
    background-color: #ffffff;
    }
    .navbar{
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav__logo a{
        color: green;
        font-size: 2rem;
        font-family: var(--lora);
        letter-spacing: 1px;

    }
    .navbar__nav a{
        color:black;
        height: 1.3rem;
        font-family: var(--real);
        margin-left: 15px;
        margin-right: 15px;
        letter-spacing: 1px;
       font-size: 1.2rem;
        }
        .banner{
            width: 100%;
            height: 90vh;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .banner h1{
            font-size: 4rem;
            font-family: var(--real);
            margin-bottom: 1rem;
        }
        .banner .tinker{
            color: rgb(255, 166, 2);
        }
        .banner span{
            color: rgb(40, 139, 206);
        }
        .banner a{
            color: white;
        }
        .banner p{
        color: #ffffff;
        margin-bottom: 1rem;
        letter-spacing: 4px;
        font-family: var(--lora);
        }
        .banner button{
            padding: 12px 30px;
            background-color: rgba(0, 0, 0, 0);
            border-radius: 30px;
            border: 1px solid #fff;
            background-color: beige;
        }
        .banner button a{
            color: black;
            font-size: 1.2rem;
            font-family: var(--lato);
        }

        .smart{
            width: 100%;
            padding: 4rem  0;
            background-image: url(/img/about-bg.jpg);
        }
        .smart__content{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 2.5rem;
            text-align: center;
        }
        .smart__content .item .icon{
            background-color: #F89624;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;
    border: 2px solid white;
    font-size: 4rem;
    color: #fff;

        }
        .hr{
            border-bottom: 2px solid rgb(255, 255, 255);
            margin-top: 1rem;
            margin-bottom: 1rem;
         }
         .smart__content .item h2{
            color: white;
            font-family: var(--lato);
         }
         .smart__content .item p{
            color: white;
            margin-bottom: 1rem;
         }
         .smart__content .item button{
            padding: 15px 35px;
            background-color: rgba(0, 0, 0, 0);
            border-radius: 30px;
            border: 1px solid #fff;
            background-color: rgb(37, 170, 223);
         }
         .smart__content .item button a{
            color: white;
            font-size: 1rem;
            font-family: var(--roboto);
         }


         .our{
            width: 100%;
            padding: 4rem 0;
            background-color: #2CAAB8;
        
        }
        .our__content{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 3rem;
            color:white;
        }
        .our__content .item .img{
          display: grid;
           grid-template-columns: repeat(2,1fr);
            gap: 1rem;
            box-shadow: 1px 1px 1px black;
            height: 60vh;
         background-color: #fff;
            
          
        }
        .our__content .text h2{
            font-size: 2rem;
            margin-bottom: 1rem;
            letter-spacing: 1px;
            margin-top: 1rem;
        }
        .our__content .text a{
            color: #fff;
            display: flex;
            margin-top: 1rem;
            font-family: var(--real);
        }

        .teacher{
            width: 100%;
            padding: 2rem 0;
            background-color:rgb(255, 187, 0);
            text-align: center;
        }
        .teacher .item p {
            background-color: white;
            padding: 2rem ;
            font-size: 1rem;
            font-family: var(--lora);
            margin-top: 1rem;
    

        }
        .teacher span{
            display: flex;
            justify-content: center;
            color: #fff;
            margin-top: 0.5rem;
            font-family: var(--monester);

        }


        .blog{
            width: 100%;
            padding: 4rem 0;
            display: grid;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-image: url(/img/banner_bg.jpg) ;

        }
.blog__content {
    display: grid;
    grid-template-columns:30% 70%;
    gap: 2rem;
    margin-top: 1rem;
}
.blog__content .text{
background-color: rgba(0, 0, 0, 0.5);
color: #fff;

}
.blog__content .text p{
    text-align: justify;
    width: 95%;
    margin: 0 auto;
}

.blog__content .text h2{
    font-size: 2rem;
    margin-top: 0.4rem;
}
.blog__content .text p{
    font-family: var(--real);
}
.blog__content .text .text__item{
    background-color: #F89624;
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 10px 0px;
    font-size: 1.3rem ;
    font-weight: 900;
    letter-spacing: 1px;
}
.blog__content .item {
    background-color: #fff;
    text-align: left;
}
.blog__content .item  .title{

    width: 95%;
    margin: 0 auto;
}
.blog__content .item  .title h2{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.blog__content .item .title span{
    color: #2CAAB8;
}
.blog__content .item  .title p{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}  
     .contact{
        width: 100%;
        padding: 2rem 0;
        background-color: rgb(90, 82, 82);
     }  
     .contact__content{
        text-align: center;
       
     }
     .contact__content .text h2{
        font-family: var(--roboto);
        color: #fff;
        margin-bottom: 2rem;
        border-bottom: 2px solid black;
        display: inline;
     }
     
     .contact__content .text p{
       
        margin-top: 2rem;
    margin-bottom: 1rem;
    color: #fff;
     }
     .contact__content .text button{
        padding: 15px 35px;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 30px;
        border: 1px solid #fff;
        background-color: rgb(37, 170, 223);
        margin-bottom: 3rem;
     
     }
     .contact__content .text button a{
        color: black;
        font-size: 1rem;
     }
     .map iframe{
        width: 100%;

        
     }

     .copy{
        width: 100%;
        padding: 4rem 0;
        background-color: rgb(102, 94, 94);
        color: white;
     }
     .copy__content{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        gap: 0.3rem;
     }
.copy__content .item h2{
    color: white;
}
